.all {
  width: 100%;
  margin: 0 auto 50px auto;
}

.banner-all {
  width: 100%;
  height: 60px;
  background-color: #8a9dd4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-all {
  width: 100%;
  height: 35px;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-all {
  float: left;
  width: 60%;
  height: 190px;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-all {
  float: left;
  width: 40%;
  height: 190px;
}

.right-all-1,
.right-all-2 {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-all-1 {
  background-color: #f9d976;
}

.right-all-2 {
  background-color: #c084d8;
}

.footer-all-1 {
  float: left;
  width: 20%;
  height: 100px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-all-2 {
  float: left;
  width: 80%;
  height: 100px;
  background-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cpright-all {
  float: left;
  width: 100%;
  height: 40px;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
